noderedflow.json
[{"id":"2df45380.82fcac","type":"tab","label":"Bot","disabled":false,"info":""},{"id":"45dac10c.e8871","type":"function","z":"2df45380.82fcac","name":"Input Function","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":300,"wires":[["42df8046.2a191","983a2781.d254c8"]],"l":false},{"id":"5fed58b.44eb6a8","type":"function","z":"2df45380.82fcac","name":"Output Function","func":"\n    msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":300,"wires":[["6fe9516a.a94ea","d943df5.80cd92"]],"l":false},{"id":"151e4eab.5fd621","type":"inject","z":"2df45380.82fcac","name":"","topic":"ChatBot","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":199.60000610351562,"y":256.4000015258789,"wires":[["45dac10c.e8871"]],"l":false},{"id":"7a3900d6.38ee","type":"ui_form","z":"2df45380.82fcac","name":"","label":"","group":"46cc91ff.ee71e","order":3,"width":"0","height":"0","options":[{"label":"enter your query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":360,"wires":[["45dac10c.e8871"]]},{"id":"1a50cceb.d51963","type":"ui_text","z":"2df45380.82fcac","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":-13,"y":397,"wires":[],"l":false},{"id":"42df8046.2a191","type":"watson-conversation-v1","z":"2df45380.82fcac","name":"Bot","workspaceid":"472e3536-c18d-4e53-ab3d-dbc0c269b8ff","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/72263a8d-eaa1-4c0b-8a44-3bd481190433","timeout":"","optout-learning":false,"x":428.00000762939453,"y":190.00000476837158,"wires":[["5fed58b.44eb6a8"]]},{"id":"983a2781.d254c8","type":"ui_text","z":"2df45380.82fcac","group":"46cc91ff.ee71e","order":1,"width":6,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":400,"wires":[],"l":false},{"id":"6fe9516a.a94ea","type":"debug","z":"2df45380.82fcac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":440,"wires":[],"l":false},{"id":"d943df5.80cd92","type":"ui_template","z":"2df45380.82fcac","group":"46cc91ff.ee71e","name":"","order":2,"width":6,"height":5,"format":"<!DOCTYPE html>\n<html>\n<head>\n<style>\ndiv.scrl {\n  background-color: white;\n  width: 310px;\n  height: 400px;\n  overflow: auto\n  margin-bottom:20px;\n}\n</style>\n</head>\n<body>\n<div class=\"scrl\">{{msg.payload}}</div>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":100,"wires":[[]],"l":false},{"id":"46cc91ff.ee71e","type":"ui_group","z":"","name":"CHAT BOT","tab":"850101dc.eeeca","order":1,"disp":true,"width":"6","collapse":false},{"id":"850101dc.eeeca","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]